# Configuration file

"client specific" {
    B:"[C59651460_f8a568]U Console Loading Info"=true
    B:"[LF254AD55_f8a568]U Log Loading Info To Separate File"=false
    B:"[DD11E9A6B_f8a568]U Debug Mode"=false
    B:"[DD202FC3A_f8a568]U Disable Renders For Debug"=false
    B:"[SDC1E643F_f8a568]U Show TileEntity NBT when using Debug Key"=false
    B:"[I55728658_f8a568]U Increase sound channel count"=true
    B:"[DF28D1394_f8a568]U Disable Hotbar Swapping"=false
    B:"[L1E3ECF57_f8a568]U Log errors to chat"=true
    B:"[S0F798483_f8a568]U Sort Creative Tabs Alphabetically"=true
    B:"[C650ECF23_f8a568]U Custom/Donator Renders"=true
    B:"[E8550C14D_f8a568]U Enable Temporally Dependent Amusement Behavior"=true
    I:"[P158B5DBF_f8a568]U Particle Limit (Vanilla = 4000)"=4000
    I:"[D0BD8E093_f8a568]U Debug Overlay Key (LWJGL ID)"=15
    B:"[DEE9287DC_f8a568]U Disable rain sound and particles"=false
    S:"[S0CFB303A_f8a568]U Setting Warning Persistence (EVERYLOAD/SETTINGCHANGE/VERSION/ONCE)"=SETTINGCHANGE
}


"control setup" {
    I:"Sync Packet ID"=182
    B:"Restore Obsidian Blast Resistance"=true
    B:"Only show update notice to Ops or SSP"=false
    B:"Force Gregtech Ore Compatibility"=true
    B:"Log Sync Packet CME Avoidance"=true
    B:"Slow Sync Packets - Only use this as a last resort"=false
    I:"Minimum Delay (ms) for 'Can't Keep Up!' Log Warning"=0
    B:"Check Environment Sanity"=false
    B:"Attempt to Repair Environment Sanity"=false
    B:"Admins Bypass Permissions"=true
    B:"Use HashMap for Sound Categories - Only use if necessary"=false
    B:"Compare mod file hashes between client and server"=true
    B:"Direct OpenComputers Support"=false
    B:"Merge XP Orbs Like Items"=true
    B:"Extra Block Ticks When Raining"=true
    B:"Prevent Mobs From Targeting Players Immediately After Logging In"=true
    B:"Biome Humidity Dependent Fire Spread"=true
    B:"Restrict profiling abilities to admins"=true
    S:"Bytecodeexec command user UUID whitelist" <
     >
    S:"Automatic Collection of Inventories; set to 'NULL' to disable"=LCTRL
    I:"AFK Timer Threshold (Seconds); Set to 0 to Disable"=120
    B:"Reroute Ender Eyes to Stronghold Entrances"=false
    I:"Expected Approximate Maximum World Size (Radius)"=5000
    I:"Expected Approximate World Center Location X"=0
    I:"Expected Approximate World Center Location Z"=0
    B:"Bytecodeexec command notifies other admins"=false
    B:"Player-Specific Mob Caps"=false
    B:"Allow charged certus to be recognized as normal certus ore"=false
    B:"Prevent block spreading near unloaded chunks"=true
    B:"Make bonemeal generate biome-correct foliage instead of tall grass"=true
    I:"Version Change Warning Level (0 = None, 1 = ReikaMods only, 2 = All)"=2
}


